.main_title{
    text-align: center;
    color: red;
    font-weight: 900;
}

.subtitle{
    color: green;
    border: 1px solid black;
}

.paragraph{
    margin: 10px 30px;
}

.note{
    background-color: aliceblue;
    color: gray;
}