*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    width: 100vw;
    height: 15vh;
}

header .main_title{
    text-align: center;
    color: rgb(146, 21, 21);
    font-weight: 900;
    padding: 10px
}

/* navbar */
.navbar{
    background-color: rgba(0, 0, 0, 0.9);
    padding:20px
}

.navbar > a{
    text-decoration: none;
    color: rgb(214, 214, 214);
    padding: 0 20px;
    border-left: 1px solid grey;
}

.navbar > a:hover{
    color: white;
}

/* MAIN */
main{
    width: 90vw;
    height: 75vh;
    margin: auto;
}

main .subtitle{
    color: rgb(204, 38, 38);
    border: 1px solid black;
    padding: 10px;
}

main .paragraph{
    margin: 30px 40px;
}

main .note{
    background-color: aliceblue;
    color: gray;
}

/* HELLO */
.hello:hover > .paragraph::after{
content: "ciao!";
}


/* FOOTER */
footer{
    width: 100vw;
    height: 10vh;
    background-color: rgba(4, 9, 35, 0.7);
}

footer > span{
    color: rgb(219, 217, 217);
}